
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.index-mEY {
  position: relative;
  width: 100%;
  height: 210.2rem;

  .index-YuW {
    width: 144rem;
    height: 210.2rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #d78bf2 0%, rgba(183, 51, 245, 0.6499999762) 40.62%, rgba(250, 127, 201, 0.6000000238) 69.79%, #cc7cea 100%);

    .auto-group-vhfe-MVa {
      left: 47.4rem;
      top: 3.9rem;
      display: flex;
      align-items: center;
      width: 87.5rem;
      height: 5rem;
      position: absolute;

      .about-button-SX2 {
        align-items: center;
        justify-content: center;
        width: 18.9rem;
        display: flex;
        white-space: nowrap;
        background-color: #c877e7;
        margin-right: 5.7rem;
        font-size: 4rem;
        font-weight: 400;
        color: #363636;
        font-family: Iceland, 'Source Sans Pro';
        border-radius: 2.5rem;
        flex-shrink: 0;
        height: 100%;
        line-height: 0.97;
      }
      .skillset-button-ESt {
        color: #363636;
        font-family: Iceland, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7.4rem;
        width: 18.9rem;
        height: 100%;
        display: flex;
        border-radius: 2.5rem;
        justify-content: center;
        font-size: 4rem;
        font-weight: 400;
        white-space: nowrap;
        background-color: #c877e7;
        align-items: center;
        line-height: 0.97;
      }
      .blogsbutton-6jz {
        color: #363636;
        align-items: center;
        border-radius: 2.5rem;
        width: 36.6rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-family: Iceland, 'Source Sans Pro';
        height: 100%;
        line-height: 0.97;
        white-space: nowrap;
        background-color: #c877e7;
        flex-shrink: 0;
        font-size: 4rem;
      }
    }
    .welcome-everyone-bRr {
      height: 7rem;
      align-items: center;
      white-space: nowrap;
      justify-content: center;
      line-height: 0.97;
      font-family: Iceland, 'Source Sans Pro';
      width: 57.4rem;
      position: absolute;
      top: 39.9rem;
      display: flex;
      font-size: 7.2rem;
      color: #ffffff;
      left: 4.9rem;
      font-weight: 400;
    }
    .im-fathima-jemina-fRi {
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: IBM Plex Serif, 'Source Sans Pro';
      white-space: nowrap;
      left: 5.7rem;
      display: flex;
      position: absolute;
      top: 48.05rem;
      font-size: 5rem;
      width: 46.8rem;
      height: 6.5rem;
    }
    .student-cybersecurity-Lnk {
      position: absolute;
      display: flex;
      font-weight: 400;
      line-height: 1.38;
      color: #ffffff;
      font-family: Hurricane, 'Source Sans Pro';
      width: 35.2rem;
      height: 6.9rem;
      left: 5.9rem;
      top: 54.7rem;
      font-size: 5rem;
      white-space: nowrap;
    }
    .auto-group-y5qz-ogL {
      height: 80.9rem;
      position: absolute;
      left: 5.2rem;
      top: 115.3rem;
      display: flex;
      align-items: flex-start;
      width: 131.05rem;

      .image-2-XsE {
        width: 56.9rem;
        height: 80.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 5.5rem;
      }
      .auto-group-jcqv-rPi {
        margin-top: 4.8rem;
        width: 68.65rem;
        flex-shrink: 0;

        .a-little-bit-about-myself-o44 {
          font-family: Iceland, 'Source Sans Pro';
          margin-bottom: 15.35rem;
          width: 100%;
          display: flex;
          justify-content: center;
          line-height: 0.97;
          color: #ffffff;
          align-items: center;
          font-size: 7.2rem;
          font-weight: 400;
          white-space: nowrap;
        }
        .im-a-bachelor-of-technology-pursuing-b-tech-cybersecurity-at-bsa-crescent-institute-of-science-and-technology-coding-adoration-interested-in-solving-ctfcapture-the-flag-problems-5nG {
          display: flex;
          justify-content: center;
          font-size: 4.5rem;
          color: #ffffff;
          width: 100%;
          align-items: center;
          font-weight: 400;
          line-height: 1.3;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          max-width: 67.4rem;
        }
      }
    }
  }
  .image-1-Byi {
    object-fit: cover;
    vertical-align: top;
    width: 85.9rem;
    height: 54.0771rem;
    position: absolute;
    left: 51.4rem;
    top: 20.5061rem;
  }
}
